$purple: #9796F0;
$purple-dark: #783F8E;
$pink: #FBC7D4;
$pink-hot: #E36588;
$green-pale: #E4F0D0;
$grey: #738290;
$white: #FFF;
$gradient: linear-gradient(to right, $purple-dark, $purple 20%, $pink, $pink-hot);
